@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

section {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: black;
  z-index: -1;
}
.animate {
  transition: all 0.3s ease-in;
}
.blob {
  display: flex;
}
.blob1,
.blob2,
.blob3 {
  filter: blur(80px) brightness(1.2)
    drop-shadow(0 0 20px rgba(92, 133, 230, 0.7));
  position: relative;
}
.blob1 {
  bottom: 4rem;
  left: 15rem;
}
.blob2 {
  top: 7rem;
}
.blob3 {
  right: 10rem;
}
@keyframes gradientAnimation {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 100%;
  }
}
