.chalenge {
  background-color: #d0deff;
  color: #181c26;
  border: 1px solid black;
  padding: 1.5em 2.9em;
  border-radius: 30px;
  font-weight: bolder;
  cursor: pointer;
  letter-spacing: 0.2px;
}
.text {
  text-align: justify;
  max-width: 70%;
  line-height: 1.5;
}
.wrapperMain {
  display: flex;
  width: 90%;
  height: 30vh;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 3rem auto;
  flex: 1 1 0;
}
.buttons {
  text-align: center;
  margin-top: 2rem;
}
.button {
  margin-inline: 1rem;
  background-color: #d0deff;
  color: #181c26;
  border: 1px solid black;
  border-radius: 30px;
  font-weight: bold;
  padding: 0.6rem 1.1rem;
  cursor: pointer;
  font-size: 0.7rem;
}
.buttontext {
  margin-bottom: 2rem;
  font-size: 0.9rem;
  letter-spacing: 1px;
}
